#!/bin/bash
### BEGIN INIT INFO
# Provides:          payweb server
# Required-Start:    $all
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: payweb server daemon
# Description:       Init script for the payweb server daemon
### END INIT INFO

# Variables
ZERO=0
PAYWEB=/devops/services/{{ service }}/payweb
PAYWEB_DIR=/devops/services/{{ service }}

# Start the payweb server
start() {
ulimit -n 32768
cd $PAYWEB_DIR
echo "Starting payweb server..."
pgrep -f $PAYWEB > /dev/null
    VERIFIER=$?
    if [ $ZERO = $VERIFIER ]
    then
        echo "The service is already running"
    else
        $PAYWEB >> $PAYWEB_DIR/logfile 2>&1 &
        sleep 5

        #Verify if the service is running
        pgrep -f $PAYWEB > /dev/null
        VERIFIER=$?
        if [ $ZERO = $VERIFIER ]
        then
            echo "Service was successfully started"
        else
            echo "Failed to start service"
        fi
    fi
echo
}

# Stop the payweb server
stop() {
cd $PAYWEB_DIR
echo "Stopping payweb server..."
    #Verify if the service is running
    pgrep -f $PAYWEB > /dev/null
    VERIFIER=$?
    if [ $ZERO = $VERIFIER ]
    then
        kill $(pgrep -f $PAYWEB)
        sleep 5

        #Verify if the service is running
        pgrep -f $PAYWEB  > /dev/null
        VERIFIER=$?
        if [ $ZERO = $VERIFIER ]
        then
            echo "Failed to stop service"
        else
            echo "Service was successfully stopped"
        fi
    else
        echo "The service is already stopped"
    fi
echo
}

# Verify the status of payweb server
status() {
    echo "Checking status of payweb server..."
    #Verify if the service is running
    pgrep -f $PAYWEB > /dev/null
    VERIFIER=$?
    if [ $ZERO = $VERIFIER ]
    then
        echo "Service is running"
    else
        echo "Service is stopped"
    fi
    echo
}

# Main logic
case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    status)
        status
        ;;
    restart|reload)
        stop
        start
        ;;
    *)
    echo $"Usage: $0 {start|stop|status|restart|reload}"
    exit 1
esac

exit 0